@use "base/variables" as v;

.alerta {
    padding: 1rem 1rem 1rem 2rem;
    font-weight: 900;
    font-size: 1.4rem;
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: 1rem;

    &.error {
        background-color: lighten(v.$rojo, 60);
        border-left: 1rem solid v.$rojo;
        color: v.$rojo;
    }
}