@use "base/mixins" as m;
@use "base/variables" as v;

.formulario {
    margin-top: 2rem;
    .campo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        gap: 1rem;
        @include m.tablet { 
            flex-direction: row;
        } 

        label {
            @include m.tablet { 
                flex: 0 0 10rem;
            } 
        }
    
        input {
            padding: 1rem;
            border: none;
            width: 100%;
            background-color: lighten(v.$gris, 40);
            @include m.tablet { 
                flex: 1;
            } 
        }
    }
}